* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #f4f4f4;
  background: url("../image/bg.jpg");
  background-position: left center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 17px;
}

img {
  width: 220px;
}

h3,
h1 {
  margin-bottom: 15px;
}

.box {
  border: 1px solid #dedede;
  padding: 8px;
  margin: 18px;
  display: inline-block;
  font-size: 30px;
}

.play-again{
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color: #f4f4f4;
    font-size: 20px;
    border: 1px solid #f4f4f4;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.play-again:hover{
    background-color: #f4f4f4;
    color: #333;
}

.play-again:focus{
    outline: none;
    transform: scale(0.95);
}